<!DOCTYPE html>
<meta charset="utf-8">
 
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>  
<%= javascript_include_tag "d3.js" %>
<%= javascript_include_tag "dndTree.js" %>

<body>
	
	<div class='txname' data-txname=<%= @tx_id %>></div>
	
	<div class='topnav' style="font-family: helvetica; margin: 20px;">
		<%= link_to "Uncommitted Transactions", get_utx_path %>
	</div>
	
	<script>

    
    $(function() {
      $( document ).tooltip();
    });
	
	</script>
    
	<div id="tree-container"></div>
</body>
</html>
  